
 .profileLabel {
 	width: 60%;
 	display: inline-block;
 	text-align: left;
 	vertical-align: top;
 }

 .profileValue {
 	width: 40%;
 	display: inline-block;
 	text-align: right;
 	vertical-align: top;
 	/* font-size: 1.2em; */
 	font-weight: bold;
 }

 .table th,td {
 	text-align: center;
 }