.credit {
    margin-top: 50px;
    margin-bottom: 20px;
}

.muted {
    color: #999999;
}

#footer {
    background-color: #f5f5f5;
    height: 60px;
}

#licenseImageContainer {
	width: 88px;
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 10px;
}

#licenseTextContainer {
	display: inline-block;
}

 .profileLabel {
 	width: 60%;
 	display: inline-block;
 	text-align: left;
 	vertical-align: top;
 }

 .profileValue {
 	width: 40%;
 	display: inline-block;
 	text-align: right;
 	vertical-align: top;
 	/* font-size: 1.2em; */
 	font-weight: bold;
 }

 .table th,td {
 	text-align: center;
 }

/* chessboard styling */
.ct-board-container {
 	padding: 0px;
 }

 .ct-board-border {
 	border: 0px;
 }


.ct-board-move-mainline  
{   
    color: black;
}

.ct-board-move-variation {   
    color: green;  
}  

.ct-board-move-comment {   
    color: green;  
    font-weight: bold;  
}

.ct-board-move-current {   
    color: red;
}

